@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=fallback");

.ios .iosOnly,
.android .androidOnly,
.twitter .twitterOnly,
.instagram .instagramOnly,
.tiktok .tiktokOnly,
.snapchat .snapchatOnly {
  display: unset;
}

body {
  background-color: #fdf0e6;
}

#detailsContainer,
#nameScreen,
#nameScreen #nameScreenHeading,
#nameScreen label,
#nameScreen input {
  font-family: Poppins;
  font-weight: 500;
}

#detailsContainer,
#nameScreen,
#emailScreen {
  background: #ff77dd;
}

#nameScreen label,
#emailScreen label {
  color: #111122;
}

#nameScreen input,
#nameScreen button,
#emailScreen input,
#emailScreen button {
  border-radius: 0;
}

#introHostName {
  font-family: Poppins;
  font-weight: 500;
  margin: 2rem 4rem 0 1.5rem;
}

#introTitle {
  font-family: Poppins;
  font-weight: 700;
  margin: 0 6rem 0 1.5rem;
  font-size: 1.4rem;
  line-height: 1.1;
}

#recordButton {
  background-color: #2900d7;
  font-family: Poppins;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 8px 36px;
  margin-bottom: 6px;
  border-radius: 0;
}

#uploadLink {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  margin: 4px;
}

#uploadLink span {
  color: white;
  text-decoration: underline;
}

#introTerms {
  text-align: center;
  font-family: Poppins;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  width: 80%;
  margin: 12px auto;
}

#introTerms a {
  color: white;
  text-decoration: underline;
}

#introBottom {
  padding-bottom: 60px;
  background-image: url(./cv-strap.png),
    linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 80%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#buttonsContainer button {
  background-color: #2900d7;
  font-family: Poppins;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 8px 36px;
  margin-bottom: 6px;
}

#buttonsContainer button.buttonSkip {
  background-color: transparent;
  color: #2900d7;
}

#nameScreen label {
  font-weight: 300;
  font-size: 14px;
}

span.optionCheckmark {
  background-color: #2900d7;
}

#nameScreen p {
  font-weight: 400;
  font-size: 14px;
}

#successScreen {
  background-color: #ff77dd;
}

#successScreen p {
  color: white;
  font-family: "Montserrat";
}

#awesome {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

#checkusout {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

#videoArea {
  background: linear-gradient(
    -15deg,
    #d90021 0%,
    #e800a6 15%,
    #f87335 20%,
    #f87335 40%,
    #e800a6 55%,
    #d90021 100%
  );
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}
